* {
    margin: unset;
    padding: unset;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    padding: 20px;
}
li {
    list-style-type: none;
    display: inline-block;
    font-size: larger;
    padding: 20px;
    color: rgb(173, 171, 171);
}
button {
    border: none;
}
h4 {
    color:rgb(80, 160, 210) ;
    font-size: x-large;
    margin-bottom:10px;
}
h2 {
    font-size: 40px;
    margin-bottom: 20px;
    width: 80%;
    line-height: 55px;
}
header nav {
    color: rgb(173, 171, 171);
    background-color: rgba(0,0,0,.1);
    backdrop-filter:blur(50px) ;
    display: grid;
    grid-template-columns: repeat(20,5%);
    grid-template-rows:1fr;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
}
header nav .menu ul a {
    padding: 0;
}
header nav .menu ul a :hover {
    color:rgb(50, 145, 200) ;
    transition: 0.5s;
}
header .logo {
    grid-column: 4/8;
    font-size: large;
    display: flex;
    align-items: center;
}
header .logo span {
    font-size: 1.3em;
    color: rgb(50, 145, 200);
}
header .logo .img-logo {
    width: 20%;
}
header .menu {
    grid-column: 12/20;
    align-self: center;
    margin-left: -35px;
}
header .logo img {
    width:90%;
    border-radius: 50%;
    margin-top: 5px;
}
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.head-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    position: relative;
}
.head-container .head-title {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 30%;
}
.head-container .head-title button {
    width: 100%;
    background: none;
    position: relative;
}
.head-container .head-title button a {
    position: absolute;
    margin-top: 2%;
    left: 0;
    padding: 20px 40px;
    background-color: white;
    color:rgb(50, 145, 200) ;
    font-size: large;
    border-radius: 5px;
}
.head-container .head-title button  :hover {
    background-color: rgb(50, 145, 200);
    transition: 0.5s;
    color: white;
}
.head-container .head-title h1 {
    font-size: 4em;
    line-height: 90px;
    font-weight: 600;
    color: white;
}
.head-container .image {
    grid-column: 1/2;
    grid-row: 1/2;
}
.head-container img {
    width: 100%;
    height: 100%;
}
.about-container {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr;
}
.about-container .about {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 15% 70% 15% ;
    grid-template-rows: 25% 70% 46vh ;
}
.about-container .about-details {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.about-container .about-details .about-title {
    margin-bottom: 80px;
    position: relative;
}
.about-container .about-details .about-title ::before {
    content: "";
    position: absolute;
    height: 5px;
    background-color:  rgb(50, 145, 200);
    width: 20%;
    top: 110%;
    left: 0;
    border-radius: 25px;
}
.about-container .about-para {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 31px;
    color: rgb(77, 76, 76);
}
.about-container .right-about{
    width:55% ;
}
.about-container .left-about{
    width:40% ;
    height: 70%;
    overflow: hidden;
}
.about-container .left-about img {
    width: 100%;
    height: 100%;
}
.about-container .left-about :hover {
    transform: scale(1.5);
    transition: all 1s ease;
}
.service-container {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr ;
    background-color: rgb(238,243,255);
}
.service-container .service {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 15% 70% 15% ;
    grid-template-rows: 15% 30% 83vh ;
}
.service-container .service-title {
    grid-column:2/3 ;
    grid-row:2/3 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.service-container .service-title ::before {
    content: "";
    position: absolute;
    height: 5px;
    background-color:  rgb(50, 145, 200);
    width: 20%;
    top: 60%;
    left: 40%;
    border-radius: 25px;
} 
.service-container .service-title h2 {
    width: 60%;
    text-align: center;
}
.service-container .service-cards {
    grid-column:2/3 ;
    grid-row:3/4 ;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.service-container .service-cards .card {
    background-color: rgb(215, 220, 230);
    width: 31%;
    border-radius: 10px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.service-container .service-cards i {
    font-size: 35px;
    color:rgb(242,234,219) ;
    background-color:rgb(50, 145, 200) ;
    padding: 10px;
    margin-bottom: 30px;
}
.service-container .service-cards h5 {
    font-size: x-large;
    margin-bottom: 30px;
}
.service-container .service-cards .card :nth-child(3) {
    width: 80%;
    line-height: 25px;
}
.pricing-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.pricing-container .pricing {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 15% 70% 15% ;
    grid-template-rows: 14% 30% 83vh ;
}
.pricing-container .pricing-title {
    grid-column:2/3 ;
    grid-row:2/3 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.pricing-container .pricing-title ::before {
    content: "";
    position: absolute;
    height: 5px;
    background-color:rgb(50, 145, 200);
    width: 20%;
    top: 70%;
    left: 40%;
    border-radius: 25px;
}
.pricing-container .pricing-title h2 {
    width: 55%;
    text-align: center;
}
.pricing-container .pricing-cards {
    grid-column:2/3 ;
    grid-row:3/4 ;
    display: flex;
    justify-content: space-evenly;
}
.pricing-container .pricing-cards .bottom-card :hover {
    transform: scale(1.3);
    transition: 1s;
}
.pricing-container .pricing-cards .cards {
    background-color: rgb(215, 220, 230);
    width: 30%;
    border-radius: 2px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pricing-container .pricing-cards .top-card {
    border-bottom: 1px solid rgb(175, 174, 174);
}
.pricing-container .pricing-cards .top-card h6 {
    font-size: x-large;
    padding:0 40px 20px ;
    color: rgb(50, 145, 200);
}
.pricing-container .pricing-cards .top-card p {
    padding: 10px 40px;
}
.pricing-container .pricing-cards .middle-card p {
    padding: 10px 40px;
}
.pricing-container .pricing-cards .middle-card >:nth-child(1) {
    padding: 0px 40px;
    font-size: xx-large;
    font-weight: 600;
}
.pricing-container .pricing-cards .middle-card span {
    padding: 0 5px 0 0;
}
.pricing-container .pricing-cards .bottom-card {
    padding-left:40px ;
}
.pricing-container .pricing-cards .bottom-card button {
    padding: 10px;
    background-color: rgb(50, 145, 200);
}
.pricing-container .pricing-cards .bottom-card button a {
    color: white;
}
.request-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:rgb(238,243,255) ;
}
.request-container .request {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 15% 70% 15% ;
    grid-template-rows: 24% 70% 48vh ;
}
.request-container .request-details {
    grid-column:2/3 ;
    grid-row:2/3 ;
    display: flex;
}
.request-container .request-title {
    margin-bottom: 65px;
    position: relative;
}
.request-container .request-title ::before {
    content: "";
    position: absolute;
    height: 5px;
    background-color:  rgb(50, 145, 200);
    width: 20%;
    top: 110%;
    left: 0;
    border-radius: 25px;
}
.request-container .request-details .request-para {
    width: 70%;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 30px;
    color: rgb(77, 76, 76);
}
.request-container .request-contact {
    display: flex;
}
.request-container .request-contact i {
    padding: 15px;
    font-size: x-large;
    color:rgb(242,234,219) ;
    background-color: rgb(50, 145, 200) ;
    margin-right: 20px;
}
.request-container .request-contact .call-icon :hover {
    color: rgb(14, 14, 80);
    cursor: pointer;
    transition: 0.5s;
}
.request-container .request-contact span {
    font-size: larger;
    display: inline-block;
    margin-bottom: 3px;
    font-weight: 600;
    color: rgb(54, 54, 54);
}
.request-container .request-contact p {
    font-size: x-large;
    color: rgb(50, 145, 200);
    font-weight: 600;
}
.request-container .request-details .right-request {
    background-color: rgb(50, 145, 200);
    width: 100%;
    height: 75%;
    border-radius: 5px;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.request-container .request-details input {
    padding: 20px 10px;
    font-size: large;
    border: none;
}
.request-container .request-details button {
    padding: 20px 0;
    background-color: rgb(4, 68, 105);
    font-size: large;
}
.request-container .request-details button a {
    padding: 21px 100px;
    color: white;
}
.request-container .request-details button :hover {
    transform: scale(1.2);
    background-color: rgb(215,220,230);
    color:rgb(20, 20, 71) ;
    transition: 1s;
}
.latest-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.latest-container .latest {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 15% 70% 15% ;
    grid-template-rows: 15% 30% 35vh ;
}
.latest-container .latest-details {
    grid-column:2/3 ;
    grid-row:2/3 ;
}
.latest-container .latest-title {
    margin-bottom: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.latest-container .latest-title ::before {
    content: "";
    position: absolute;
    height: 5px;
    background-color:  rgb(50, 145, 200);
    width: 15%;
    top: 110%;
    left: 43%;
    border-radius: 25px;
}
.latest-container .latest-title h2 {
    width: 40%;
    text-align: center;
}
.latest-container .latest-img {
    text-align: center;
}
.latest-container .latest-img :hover {
    transform: scale(1.4);
    transition: 0.5s;
}
.latest-container .latest-img img {
    width: 15%;
    border-radius: 50%;
    padding: 30px;
}
footer {
    background-color: rgb(50, 145, 200);
    color: rgb(242,234,219);
}
.foot-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.foot-container .foot-details {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 15% 70% 15% ;
    grid-template-rows: 15% 70% 6.5vh ;
}
.foot-container .contact-info {
    grid-column:2/2 ;
    grid-row:2/3 ;
    align-self: center;
}
.foot-container .contact-icons {
    grid-column:2/3 ;
    grid-row:2/3 ;
    align-self: center;
    justify-self: end;
}
.foot-container .contact-icons a :hover {
    background-color: rgb(173, 171, 171);
    color:rgb(50, 145, 200) ;
    transition: 1s;
}
.foot-container .contact-info div {
    padding: 10px;
    font-size: large;
}
.foot-container .contact-info div i {
    padding: 0 5px;
}
.foot-container .contact-icons i {
    padding: 10px;
    font-size: x-large;
    border-radius: 50%;
    background-color:rgb(20, 20, 71) ;
}
.foot-container .contact-icons a {
    padding: 5px;
    color: white;
}
header nav .bars {
    position: absolute;
    font-size: xx-large;
    color: rgb(242,234,219);
    cursor: pointer;
    display: none;
    right: 5%;
    top: 25%;
}
header nav input {
    display: none;
}